.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #081c15;
  height: 100vh;
}

.card {
  width: 350px;
  height: 800px;
  margin-top: 7px;
  margin-bottom: 7px;
  background: #1b4332;
  border-radius: 25px;
  box-shadow: 0 2px 10px #1b4332;
}

@media screen and (max-width: 400px) {
  .App {
    height: 851px;
  }
}
